<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>react ssr <%= title %></title>
</head>
<body>

  <div   id="root">
    <%- html %>
  </div>

  <!-- 注水 -->
  <p  style="display: none;" id="initState">
    <%- JSON.stringify(data) %>
  </p>
  
  <!-- 事件绑定 -->
  <script src="./js/app.js"></script>


  <script type="text/javascript">
    (function(){
      const value = document.querySelector("#initState").innerHTML
      window.__INIT_STATE_ = value
    })()
  </script>
</body>
</html>
